body, html{
  font-size: 120%;
  height: 100%;  
  background: #E55D87; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #E55D87 , #5FC3E4); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #E55D87 , #5FC3E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "futura-pt",sans-serif;
}
a{
  color: white;
  text-decoration: none;
}

.angular-google-map-container { height: 400px; width: 400px }

#headerTitle{
  text-align: center;
  font-size: 120px;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.66);
  margin: 30px 0 50px 0;
}

#wrap{
  max-width: 95%;
  margin: 3%;
}
.centered{
  text-align: center;
  margin: 30px 0;
}

/* md-sidenav */

.sideNav{
  position: absolute!important;
  z-index: 9999!important;
  left: 50000!important;
}


/* or */

.or{
  padding: 20px 0;
  color: white;
  font-size: 30px;
  max-width: 100%;
  overflow: hidden;
}
.or span{
  display: inline-block;
  position: relative;  
}
.or span:before, .or span:after{
  content: "";
  position: absolute;
  height: 5px;
  /*border-bottom: 1px solid white;*/
  border-top: 1px solid white;
  top: 13px;
  width: 600px;
}
.or span:before{
  right: 100%;
  margin-right: 15px;
}
.or span:after{
  left: 100%;
  margin-left: 15px;
}

/* or */

/*Login Form*/
.loginForm{
  max-width: 80%;
  margin: auto;
}
.bigText label, .bigText input{
  color: white;
}
.socialLogins{
  min-width: 295px!important;
  font-size: 24px!important;
  padding: 15px 110px!important;
}
.twitterBtn{
  background: #449bec!important;
}
.googleBtn{
  background: #c52424!important;
}
/*angular default overrides*/

/*transparent backgrounds*/
md-content.md-default-theme, md-content, md-toolbar._md-toolbar-transitions{
  background: transparent!important;
  transition: none!important;
  transition-duration: 0ms!important;
  /* transition: all .4s cubic-bezier(.25,.8,.25,1); */
  /* transition-duration: 200ms; */
}
.md-button{
  font-size: 20px!important;
  padding: 12px!important;
  min-width: 300px!important;
}

.mainHeader{
  background: blue!important;
}