body, html{
  font-size: 120%;
  height: 100%;  
  background: #E55D87; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #E55D87 , #5FC3E4); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #E55D87 , #5FC3E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "futura-pt",sans-serif;
}
body{
  padding: 20px!important;
}
a{
  color: white;
  text-decoration: none;
}
h2{
  margin: 1px;
}

.feedTitles{
  color: white;
}


.angular-google-map-container {height: 400px;width: 100%;}

#logout{
  cursor:pointer;
  width: 90px
}

.md-toolbar-tools h1{
  font-size: 50px!important;
}

input.ng-scope{
  width: 95%;
  margin-top: 20px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3)
}

#headerTitle{
  text-align: center;
  font-size: 120px;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.66);
  margin: 30px 0 50px 0;
}

#wrap{
  max-width: 95%;
  margin: 3%;
}
.centered{
  text-align: center;
  margin: 30px 0;
}

/* md-sidenav */

.sideNav{
  position: absolute!important;
  z-index: 9999!important;
  left: 50000!important;
}


/* or */

.or{
  padding: 20px 0;
  color: white;
  font-size: 30px;
  max-width: 100%;
  overflow: hidden;
}
.or span{
  display: inline-block;
  position: relative;  
}
.or span:before, .or span:after{
  content: "";
  position: absolute;
  height: 5px;
  /*border-bottom: 1px solid white;*/
  border-top: 1px solid white;
  top: 13px;
  width: 600px;
}
.or span:before{
  right: 100%;
  margin-right: 15px;
}
.or span:after{
  left: 100%;
  margin-left: 15px;
}

/* or */

/*Login Form*/
.loginForm{
  max-width: 80%;
  margin: auto;
}
.bigText label, .bigText input{
  color: white;
}
.socialLogins{
  min-width: 295px!important;
  font-size: 24px!important;
  padding: 15px 110px!important;
}
.twitterBtn{
  background: #449bec!important;
}
.googleBtn{
  background: #c52424!important;
}
/*angular default overrides*/

/*transparent backgrounds*/
md-content.md-default-theme, md-content, md-toolbar._md-toolbar-transitions{
  background: transparent!important;
  transition: none!important;
  transition-duration: 0ms!important;
  /* transition: all .4s cubic-bezier(.25,.8,.25,1); */
  /* transition-duration: 200ms; */
}
.md-button{
  font-size: 20px!important;
  padding: 12px!important;
  min-width: 300px!important;
}
.md-button.mapButton{
  font-size: 20px!important;
  padding: 10px!important;
  min-width: 200px!important;
}

.md-button.feedButton{
  font-size: 15px!important;
  padding: 10px!important;
  min-width: 150px!important;
}

.md-button.toolbar{
  font-size: 15px!important;
  padding: 10px!important;
  min-width: 150px!important;
}

md-toast.md-error-toast-theme .md-success-toast-theme .md-toast-content .md-button{
  font-size: 13px!important;
  padding: 8px!important;
  min-width: 100px!important;
}

md-toast.md-error-toast-theme .md-toast-content{
  background-color: #eb4f6b;
}

md-toast.md-success-toast-theme .md-toast-content{
  background-color: #4ccdf8 ;
}


.mainHeader{
  background: blue!important;
  font-size: 50px
}


/*Start Claim Form*/

#lost-found{
  padding: 30px 20px;
  min-height: 350px;
}
md-option{
  background: white!important;
}
md-optgroup{
  background: white;
}

md-input-container{
  min-width: 100%;
}

#form-container{
  background: white;
  margin-bottom:20px;
  border-radius:5px;
  padding-bottom: 10px;
}
#form-container .form-header{
  background: #9379a5;
  text-align: center;
  padding: 20px 0;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

#form-container .page-header{ 
  background:#151515; 
  margin:0; 
  padding:30px;
  border-top-left-radius:5px;
  border-top-right-radius:5px; 
}

/* numbered buttons */
#status-buttons{  

}
#status-buttons a {
  color: white;
  display:inline-block;
  margin-right:10px;
  text-align:center;
  text-transform:uppercase;
  font-size: 17px;
}
#status-buttons a:hover { 
  text-decoration:none; 
}

/* we will style the span as the circled number */
#status-buttons .cirular {
  background: #080808;
  display: block;
  height: 24px;
  margin: 0 auto 10px;
  padding-top:5px;
  width: 30px;
  border-radius:50%;
}

/* active buttons turn light green-blue*/
#status-buttons a.active .cirular {
  background: #e55d87;
}


/*Start Form Animations*/
#signup-form{ 
  position:relative; 
  min-height:500px; 
  overflow:hidden; 
  padding:30px; 
}
#form-views{
  width:auto;
}

/* basic styling for entering and leaving */
/* left and right added to ensure full width */
#form-views.ng-enter, #form-views.ng-leave{
  position:absolute; 
  left: 30px;
  right: 30px;
  transition: 0.5s all ease; 
  -moz-transition: 0.5s all ease; 
  -webkit-transition: 0.5s all ease; 
}
    
/* enter animation */
#form-views.ng-enter{
  -webkit-animation: slideInRight 0.5s both ease;
  -moz-animation: slideInRight 0.5s both ease;
  animation: slideInRight 0.5s both ease; 
}

/* leave animation */
#form-views.ng-leave            { 
    -webkit-animation:slideOutLeft 0.5s both ease;
    -moz-animation:slideOutLeft 0.5s both ease;
    animation:slideOutLeft 0.5s both ease;
}

/* ANIMATIONS
============================================================================= */
/* slide out to the left */
@keyframes slideOutLeft {
    to      { transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {  
    to      { -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
    to      { -webkit-transform: translateX(-200%); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(200%); }
    to      { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
    from    { -moz-transform:translateX(200%); }
    to      { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
    from    { -webkit-transform:translateX(200%); }
    to      { -webkit-transform: translateX(0); }
}
/*End Form Animatins*/
/*End Claim Form*/
