
body, html{
background: #E55D87; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #E55D87 , #5FC3E4); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #E55D87 , #5FC3E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.centered{
  text-align: center;
}
#wrap{
  max-width: 90%;
  margin: auto;
}
.or{
  padding: 20px 0;
  color: white;
  font-size: 30px;
  max-width: 100%;
  overflow: hidden;
}
.or span{
  display: inline-block;
  position: relative;  
}
.or span:before, .or span:after{
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  top: 11px;
  width: 600px;
}
.or span:before{
  right: 100%;
  margin-right: 15px;
}
.or span:after{
  left: 100%;
  margin-left: 15px;
}
/* MD Content Overwrites */
md-content.md-default-theme, md-content{
  background: transparent;
}

.header{
  background: transparent!important;
}
.header h1{
  color: white;
  text-align: center;
  font-size: 177px;
}

.header h1 {
  font-family: "Futura";
  line-height: 0.5;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.66);
}

/*login form*/
.inner-form{
  padding-top: 33px;
}
.loginIcons{
  width: 22px;
}
#login{

}
#login label{
  color: white;
  position: absolute;
  left: 31px;
}
#login .bigText{
  font-size: 33px;
  padding: 33px;
  background: transparent;
  color: white;
}
#login md-input-container .md-input{
  height: 50px;
}
.socialLogins{
  padding: 32px 250px!important;
  font-size: 32px!important;
  margin: 44px 0!important;
}
.googleBtn{
  padding: 32px 270px!important;
  font-size: 32px!important;
  margin: 44px 0!important;
  background: #d21616!important;
}
.twitterBtn{
  padding: 32px 270px!important;
  font-size: 32px!important;
  margin: 44px 0!important;
  background: #44b7e8!important;
}


