<div id="mapView">
  <div id="mapDiv">
      <md-progress-linear ng-if="load" mode="indeterminate" class="md-accent"></md-progress-linear>
    <ui-gmap-google-map center='coordenates.center' zoom='coordenates.zoom' control='control' options='coordenates.options'>
    <ui-gmap-marker ng-if='flag' coords="marker.coords" idkey=0 options='marker.options' events='marker.events'>
        </ui-gmap-marker>
    <ui-gmap-search-box template="searchbox.template" events="searchbox.events" position='searchbox.position'></ui-gmap-search-box> 
    </ui-gmap-google-map>
  </div>
  <div class='buttonsContainer'>
    <md-button class='mapButton' ng-click='currentLocation()'>Current location</md-button>
    <!-- <md-button class='mapButton' ng-click='placeMarker()'>Place Marker</md-button> -->
    <md-button class='mapButton' ng-click='setLocation("lost")'>I lost it here</md-button>
    <md-button class='mapButton' ng-click='setLocation("found")'>I found it here</md-button>
  </div>
</div>

<md-button ui-sref="form.itemType" class="md-accent md-raised">Next Section</md-button>


