  <div layout="column" class="loginForm">

    <form id="login" ng-submit="login()" >

      <md-content class="md-no-momentum inner-form ">

        <md-input-container class="md-icon-float md-block bigText" flex>
          <!-- Use floating label instead of placeholder -->
          <label>Username</label>

          <input ng-model="user.username" type="text" md-autofocus>
        </md-input-container>

        <md-input-container class="md-icon-float md-block bigText">
          <!-- Use floating label instead of placeholder -->
          <label>Password</label>
          
          <input ng-model="user.password" type="password">
        </md-input-container>

        <div class="centered">
        <input type="submit">
          <!-- <md-button   class="bigText">Submit</md-button> -->
        </div>
      
      </md-content>

    </form >

<!--   <div class="centered or">
    <span> Or </span>
  </div>
  
  <div class="funLogin">
    <div class="centered">
      <md-button ng-click="goHome()" class="md-raised md-primary socialLogins">FaceBook</md-button>
    </div>

    <div class="centered">
      <md-button ng-click="goHome()" class="md-raised md-primary socialLogins twitterBtn">Twitter</md-button>
    </div>

    <div class="centered">
      <md-button ng-click="goHome()" class="md-raised md-primary socialLogins googleBtn">Google</md-button>
    </div>
  </div>
   -->
  </div>
  <div class="centered text-white">
    Don't have an account? <a href="/#/signup">Sign up here!</a>
  </div>
