<md-content>
  <md-card ng-repeat='item in lost'>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline"> {{ item.lostOrFound }} </span>
        <span class="md-headline"> {{ item.category }} </span>
        <span class="md-subhead"> {{ item.keyWords }} </span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-lg card-media"></div>
      </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button>Edit</md-button>
      <md-button class="md-accent md-raised" >Resolve</md-button>
    </md-card-actions>
  </md-card>

  <md-card ng-repeat='item in found'>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline"> {{ item.lostOrFound }} </span>
        <span class="md-headline"> {{ item.category }} </span>
        <span class="md-subhead"> {{ item.keyWords }} </span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-lg card-media"></div>
      </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button>Edit</md-button>
      <md-button class="md-accent md-raised" >Resolve</md-button>
    </md-card-actions>
  </md-card>

</md-content>
