<md-content>
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Possible Match!</span>
        <span class="md-subhead">It looks like someone may have found your item!</span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-lg card-media"></div>
      </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button>Send a message</md-button>
    </md-card-actions>
  </md-card>
</md-content>